.stage1 {
    .desc {
        width: 100%;
        position: relative;
        background: #eaf3d8;
        padding: 15px 0;
        .text-cont {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 110px;
            .title {
                font-size: rem(20px);
                font-family: assistant-semi-bold;
                width: 117px;
                text-align: center;
            }
            .sub-title {
                width: 451px;
                font-size: rem(15px);
                text-align: center;
            }
            p {
                font-size: rem(15px);
                width: 854px;
                text-align: center;
            }
        }
    }
    .form {
        padding: 40px 410px 25px 410px;
        display: grid;
        position: relative;
        grid-template-areas:
            "employer-title"
            "employer-details"
            "emp-title"
            "emp-details"
            "emp-contact-title"
            "emp-contact-details"
            "emp-status";
        .loadingImg {
            position: fixed;
            height: 50px;
            width: 217px;
            height: 239px;
            top: 50%;
            left: 50%;
            z-index: 2;
        }
        .employer-title {
            grid-area: employer-title;
        }
        .employer-details {
            background: rgba(196, 230, 247, 0.1);
            grid-area: employer-details;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 41px 49px;
            .company-name {
                grid-column: 1;
            }
            .company-phone {
                grid-column: 2;
            }
            .company-address {
                grid-column: 3;
            }
            .company-tax-number {
                grid-column: 4;
            }
        }
        .emp-title {
            grid-area: emp-title;
        }
        .emp-details {
            background: rgba(196, 230, 247, 0.1);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-area: emp-details;
            padding: 41px 49px;
            .first-name {
                grid-column: 1;
                width: 280px;
            }
            .last-name {
                grid-column: 2;
                width: 280px;
            }
            .id-num {
                grid-column: 3;
                width: 280px;
            }
            .birth-date {
                grid-column: 1;
                grid-row: 2;
                width: 280px;
            }
            .immigation-date {
                grid-column: 2;
                grid-row: 2;
                width: 280px;
            }
            .id-num-copy {
                grid-row: 3;
                grid-column: 1 / 3;
                width: 100%;
                display: flex;
                flex-direction: column;
                font-family: assistant-regular;
                * label {
                    margin-inline-end: rem(22px);
                    -webkit-margin-end: rem(22px);
                }
                .choose-copy-type {
                    width: 100%;
                    input {
                        margin-inline-end: rem(12px);
                        -webkit-margin-end: rem(12px);
                    }
                    .btn-upload {
                        input[type="file"] {
                            display: none;
                        }
                        outline: none;
                        display: flex;
                        justify-content: flex-start;
                        border: none;
                        width: 134px;
                        height: 40px;
                        border-radius: 5px;
                        padding: 7px 13px 9px 14px;
                        margin-inline-end: rem(10px);
                        -webkit-margin-end: rem(10px);
                        background: #95c53d;
                        color: white;
                        span {
                            width: 72px;
                            font-family: assistant-regular;
                            font-size: rem(18px);
                            line-height: 24px;
                            margin-inline-end: rem(11px);
                            -webkit-margin-end: rem(11px);
                        }
                    }
                    .error {
                        color: #db0b0b;
                        font-size: rem(16px);
                        line-height: 21px;
                        font-family: assistant-semi-bold;
                    }
                }
            }
        }
        .emp-contact-title {
            grid-area: emp-contact-title;
        }
        .emp-contact-details {
            grid-area: emp-contact-details;
            background: rgba(196, 230, 247, 0.1);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 41px 49px;
            .emp-city {
                grid-column: 1;
                grid-row: 1;
                width: 280px;
            }
            .emp-street {
                grid-column: 2;
                grid-row: 1;
                width: 280px;
            }
            .street-num-postal {
                grid-column: 3;
                grid-row: 1;
                .emp-street-num {
                    width: 114px;
                }
                .emp-postal-code {
                    width: 135px;
                }
            }
            .emp-phone {
                grid-column: 1;
                grid-row: 2;
                width: 280px;
            }
            .emp-mobile {
                grid-column: 2;
                grid-row: 2;
                width: 280px;
            }
            .emp-email {
                grid-column: 3;
                grid-row: 2;
                width: 280px;
            }
            .boundary-line {
                grid-row: 3;
                grid-column: 1/4;
                border-top: 1px solid #c4e6f7;
                width: 100%;
                margin-top: 73px;
            }
        }
        .emp-status {
            grid-area: emp-status;
            display: grid;
            grid-template-columns: 100px 260px 150px 250px 1fr;
            grid-template-rows: auto;
            background: rgba(196, 230, 247, 0.1);
            padding: 0 49px 41px 49px;
            .family-status-date {
                margin-top: 20px;
                width: 260px;
            }
        }
    }
}
