@font-face {
    font-family: assistant-regular;
    src: url("fonts/Assistant/Assistant-Regular.ttf");
}
@font-face {
    font-family: assistant-semi-bold;
    src: url("fonts/Assistant/Assistant-SemiBold.ttf");
}
