// colors
$very-light-blue: rgb(57, 188, 231);
$labelsFontColor: #454545;

// box shadow
$smaller-black-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.705);
$small-black-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.705);
$boardMenuItemHoverColor: rgba(9, 30, 66, 0.08);

// Breakpoints
$pc-breakpoint: 1920px;
$pc-meduim-breakpoint: 1600px;
$laptop-breakpoint: 1366px;
$small-laptop-breakpoint: 1024px;
$tablet-breakpoint: 900px;
$mini-tablet-breakpoint: 700px;
$mobile-breakpoint: 550px;
$mini-mobile-breakpoint: 370px;
