.manager-verif-top {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    width: 640px;
    height: 492px;
    @include for-mobile-layout {
        width: 90%;
        height: 440px;
    }
    border-top: 6px solid #00a3ea;
    background-color: #fefefe;
    header {
        width: 100%;
        text-align: end;
        .btn_close {
            width: 24px;
            height: 24px;
            cursor: pointer;
            margin-inline-end: rem(24px);
            margin-top: 23px;
            path {
                &:hover {
                    fill: #00a3ea;
                    stroke-width: 3;
                    stroke: #00a3ea;
                }
            }
        }
    }
    .manager-verif-content {
        height: 100%;
        padding: rem(21px) rem(140px) rem(70px) rem(140px);
        @include for-mobile-layout {
            padding: rem(10px) rem(40px) rem(50px) rem(40px);
        }
        img {
            height: 85px;
            @include for-mobile-layout {
                height: 50px;
            }
        }
        h2 {
            color: #068dc8;
            text-align: center;
            @include for-mobile-layout {
                font-size: rem(32px);
                width: 100%;
            }
        }
        p {
            text-align: center;
            font-size: rem(20px);
            line-height: 24.06px;
            @include for-mobile-layout {
                font-size: rem(18px);
                line-height: 22px;
                width: 100%;
            }
            color: #454545;
        }
        .code {
            input {
                border: 1px solid #afbabf;
                box-sizing: border-box;
                border-radius: 5px;
                width: 193px;
                height: 48px;
                font-size: rem(20px);
                padding: rem(9px) rem(13px) rem(8px) rem(13px);
                font-size: rem(19px);
                line-height: 25px;
                margin: rem(18px) 0;
                @include for-mobile-layout {
                    width: 100%;
                }
               
            }
            
        }
        .btn_approve {
            font-family: assistant;
            font-size: rem(20px);
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
            background: #95c53d;
            width: 290px;
            height: 42px;
            @include for-mobile-layout {
                width: 100%;
            }
        }
    }
    
    
   
}
